.DS_Store
/auto-save-list
/var
/url
/custom.el
*.elc
*.el~
/.graphene*
/%*
/.emacs*
/project-persist
/tramp
/projectile.cache
/session.*
/elpa
/.mc*
/projectile-bookmarks.eld
/abbrev_defs
/flycheck-*
persp-confs/
/eshell
/org/*
!/org/.gitkeep
/bookmarks
/.cask
/project-explorer-cache
/ido.last
/smex-items
/recentf
/company-statistics-*
