.DS_Store
auto-save-list
var
url
ede-projects.el
custom.el
*.elc
*.el~
ac-comphist.dat
.graphene*
%*
tramp
.emacs*
project-persist
tramp
projectile.cache
session.*
elpa
.mc*
/projectile-bookmarks.eld
/abbrev_defs
/flycheck-*
persp-confs/
/eshell
/org/*
!/org/.gitkeep
bookmarks
.cask
/project-explorer-cache
ido.last
smex-items
recentf
